# Python
__pycache__/
*.pyc
.venv/
env/

# Node
node_modules/

# Build
dist/
build/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

Practise/APP/pp2025(raw)/
Practise/APP/pp2025/
Practise/DsA/Midterm/

Test_coding/.ipynb_checkpoints/
